*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

.container{
      background-image: linear-gradient(#0000006c, rgba(0, 0, 0, 0.356)) ,url(img/images_cd6751.jpeg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 100vh;
    
}
.navigation{
      background-image:linear-gradient( #b48c14 ,#FFC107);
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: sticky;
    
      top: 0;
    


}

.name {
      font-size: 25px;
      color: white;
      margin-left: 150px;
      transition: 0.5s;

}

.name span{
      background-color: #DF4554;
      color: black;
      padding: 5px;
      border-radius: 50%;
}

.name:hover{
      transform: translatex(100px);
}

.navigation> ul{
      display: flex;
      padding: 15px 0;
      margin-right: 80px;
   
}

.navigation > ul > li{
      list-style: none ;    
}

.navigation > ul > li >  a{
      text-decoration: none;
      color: black;
      font-size: 25px;
      text-transform: uppercase;
      font-weight: bold;
      padding: 18px 20px;
      border-right: solid 1px black;
      transition: 0.5s;
}
.navigation> ul > li >  a:first-child{
      border-left: solid 1px black;
}
.navigation  > ul > li >  a:hover{
      background-color: #636306;
      color: white;
}

/* dropdown-manu */
.dropdown-manu{
      position: absolute;
      width: 200px;
      background-image:linear-gradient( #b48c14 ,#FFC107);
      text-align: center;
      margin-top: 18px;
      opacity: 0;
      visibility: hidden;
      transform: scaley(0);
      transform-origin: top;
      transition: 0.5s;
      box-shadow: 5px 5px 8px black;
    
}

.dropdown-manu li{
      list-style: none;
      padding: 10px 0;
      border-bottom: solid 1px black ;
      transition: 0.5s;
    

}

.dropdown-manu li a{
      text-decoration: none;
      font-size: 25px;
      color: white;
      text-transform: uppercase;
      transition: 0.2s;

      
     
}
.dropdown-manu li:first-child{
      border-top: solid 1px black;
}

.dropdown-manu li:hover{
      background-color: #636306;
    
}

.navigation li:hover .dropdown-manu{
      opacity: 1;
      visibility: visible;
      transform: scaley(1);
}


/* header code stat */
.haro-area{
      text-align: center;
      padding: 180px;

}
.haro-area  h1{
      background-color: #ffc10796;
      width: 600px;
      margin: 20px auto;
      font-size: 50px;
      padding: 25px;
      border-radius: 25px;
     
} 
.haro-area  button{
      font-size: 22px;
      padding: 15px 40px;
      text-transform: uppercase;
      border-radius: 20px 5px 20px 5px;
      background-color: #b58907;
      color: white;
      letter-spacing: 0.1em;
      cursor: pointer;
      transition: 0.5s;
      font-weight: bold;
      border: solid 2px green;
      margin: 20px;
}

.haro-area  button:hover{

      background-color: #b58a0773;
      box-shadow: 0 0 0 white;
      color: black;
      
}

.haro-area  h5{
      font-size: 18px;
      
}
.haro-area  h4{
      font-size: 25px;
}

.icon{
      margin-top: 20px;
}
.icon a{
      color: white;
      margin: 5px;
   
      
}

.icon a i{
      font-size: 25px;
      background-color: green;
      width: 50px;
      height: 50px;
      padding: 10px;
      border-radius: 50%;
      text-align: center;
      border: solid 2px white;
      line-height: 1.0;
      transition: 0.5s;
}

.icon a i:hover{
      background-color: #0080006d;
      transform: rotate(360deg);
}
/* frist-section */
.programmer{
      display: flex;
      width: 1000px;
      justify-content: space-between;
      margin:  auto;
      padding: 150px 0;
}

.programmer .single-div{
      width: 300px;
      text-align: center;
      padding: 20px 25px;
      transition: 0.5s;
     

}

.programmer .single-div:hover{
      box-shadow:10px 10px 10px 5px gray;
      border-radius: 5px;
}

.programmer .single-div h4{
      font-size: 22px;
      margin: 10px 0;
}

.programmer .single-div i{
      font-size: 35px;
}
/* secon section */

.second-container{
      width: 1000px;
      margin: auto;
      padding: 50px 0;
}
.SmartArea{
      padding: 50px 0;
      position: relative;
      text-align: center;
}

.SmartArea h2{
      font-size: 45px;
}


.SmartArea h2::before {
      position: absolute;
      content: "";
      top: 110px;
      left: 422px;
      border-bottom: solid 2px  #830707;
      width: 146px;
      height: 2px;
}       

.smart-parent{
      display: flex;
      align-items: center;
      justify-content: space-between;
  
}
.smart-img{
      width: 400px;
   
  
}
.smart-img img{
      width: 400px;
}


.smart-chial{
      width: 500px;
   
}

.smart-chial h3{
      margin: 20px 0;
}

.smart-chial h4{
      color: #830707;
}

.chack-box a{
      text-decoration: none;
      background-color: #7d0909;
      color: white;
      font-size: 20px;
      padding: 10px 30px;
      margin: 20px 0;
      display: inline-block;
      border-radius: 10px;
      transition: 0.5s;
      

}

.chack-box a:hover{
      background-color: #7d0909ac;
}

/* third section */
.third-section{
      background-color: #FAFAFA;
}
.Servisces-container{
      width: 1000px;
      margin: auto;
      padding-top: 50px ;
}

.servisces{
      text-align: center;

}
.servisces h2{
      font-size: 40px;
}

.servisces-parent{
      display: grid;
      grid-template-columns: repeat(3,1fr);
      text-align: center;
      grid-gap: 15px;
      padding:40px 0  60px 0; 
}

.Servisces-chial{
      padding: 20px;
      background-color: #ADD8E6;
      border-radius: 12px;
      transition: 0.5s;
}
.Servisces-chial:hover{
      background-color: #0a81a8ab;
}

.Servisces-chial i{
      font-size: 40px;
      color: #7d0909;
}

.Servisces-chial h4{
      margin: 10px 0;
      font-size: 22px;
}

/* four section */

.four-container{
      background-color: #F5F5F5;

}

.four-section{
      width: 1000px;
      margin: auto;
      padding: 58px 0 30px 0;
}

.Pricing{
      padding: 20px;
}
.Pricing h2{
      text-align: center;
      font-size: 50px;
}

.Pricing-parent{
      display: flex;
      justify-content: space-between;
      text-align: center;
   
}

.Pricing-chial{
      width: 310px;
      background-color: #F5F5F5;
      box-shadow: 10px 10px  10px gray;
     margin: 15px 0;
}
.img-box{
      width: 310px;
      height: 350px;
}
.img-box img{
      width: 100%;
      height: 100%;
}

.Pricing-chial h3{
      font-size: 35px;
      margin: 15px 0;
}
.per{
      border-top: dashed 1px gray;
      border-bottom: dashed 1px gray;
      margin: 15px 15px;
      padding: 15px 0;
}

.per-per{
      font-size: 25px;
}

.per-month{
      color: gray;
}
button{
      background-color:  #7d0909;
      padding: 10px 30px ;
      color: white;
      border-radius: 10px;
      cursor: pointer;
      transition: 0.5s;
}
button:hover{
      background-color:  #7d090900;
      color: black;
}

.Pricing-chial a{
      text-decoration: none;
      display: block;
      margin: 15px 0;
  
}

/* Testimonials stat */

.five{
      background-color: #FFE4C4;
}

.Testimonials-container{
      width: 1000px;
      margin: auto;
}
.Testimonials{
      text-align: center;
   padding: 50px 0;

}
.Testimonials h2{
      font-size: 40px;
}

.Testimonials h5{
      font-size: 15px;
      letter-spacing: 0.4em;
      color: gray;
      margin-top: 10px;
}
.Testimonials-cade{
      display: grid;
      grid-template-columns: repeat(2,1fr);
      grid-gap: 20px;
      padding-bottom:80px ;
}
.Testimonials-single{
      display: flex;
      align-items: center;
      padding: 10px;
      background-color: #fff;
  
   
}
.Testimonials-img{
      width: 150px;
      border-radius: 50%;

}
.Testimonials-img img{
      max-width:  100%;
      border-radius: 50%;
      height: 50px;
      border: solid 1px green;
  

}
.Testimonials-text{
      margin-left: 15px;
}
span{
      display:inline-block;
      margin-bottom: 10px;
}
.span-1{
      font-size: 25px;

}

.Testimonials-text i{
      color: yellow;
      margin: 10px 0;
}

/* parallex section */

.parallex-section{
      background-image: url(img/rose-165819_640.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment:fixed ;

}
.parallex-contaainer{
      width: 1000px;
      margin: auto;
      display: flex;
      justify-content: space-between;
      text-align: center;
      padding: 80px 0;
      color: white;
}

.parallex-atem i{
      font-size: 40px;
}

.parallex-atem h2{
      font-size:30px ;
      margin: 15px 0;
}

.parallex-atem h3{
      font-size:30px ;
}

/* six section */
.blog-container{
      width: 1000px;
      margin: auto;
      padding-bottom:80px ;
}
.blog-parent{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
   
}
.blog-chail{
padding: 15px;
}

.blog-img{
      width: 310px;
      position: relative;
      overflow: hidden;
    
   
   
     
}
.blog-img img{
      width: 100%;
      height: 250px;
      transition: 0.2s;
    
    
   
    
}
.blog-item{
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      display: grid;
      place-content: center;
      color: white;
      text-align: center;
      font-size: 22px;
      opacity: 0;
      transition: 0.5s;
}
.blog-item i{
      font-size: 35px;
      margin-bottom: 10px;
}
.blog-img:hover .blog-item{
      opacity: 1;
      background-color: rgba(0, 0, 0, 0.391);
}
.blog-img:hover img{
      transform: scale(1.4);
}
.blog-taitle{
      text-align: center;
      margin-top: 10px ;
}
.blog-taitle span{
      color: rgba(128, 128, 128, 0.783);
      margin: 10px 0;
}
/* seven section */
.Contact-contaner{
      width: 1000px;
      margin: auto;
}
.form-parent{
      background-color: #eaecf0;
      display: flex;
}
.form-chail{
      width: 600px;
}
.full-name{
      display: flex;
}

.full-name input{
      width: 250px;
      height: 40px;
      margin: 0 20px;
      border: none;
      padding: 0 10px;
      font-size: 16px;
}
.full-name h4{
      margin:40px 20px 10px 20px;
      
}
.input-sub{
      width: 540px;
      height: 40px;
      margin: 0 20px;
      border: none;
      padding: 0 10px;
      font-size: 16px;
}
.subject{
      margin:20px 20px 10px 20px;
}
.Masseges{
      margin:20px 20px 10px 20px;
}
.text{
      width: 540px;
      height: 100px;
      margin: 0 20px;
      border: none;
      padding: 0 10px;
      resize: none;
      font-size: 16px;
}

.button{
      margin: 15px 20px;
      padding: 10px 20px ;
      font-size: 18px;
      background-color: #0000ff;
      color: white;
      border: none;
      border-radius: 10px;
      cursor: pointer;

}

.address{
      display: flex;
      justify-content: space-between;
      text-align: center;
      padding: 20px 0;
}

.address i{
      background-color: #200f81;
      color: white;
      padding: 10px;
      border-radius: 50%;
      margin-bottom: 10px;
}
.address span{
      font-size: 18px;
      font-weight: bold;
}