*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

.container{
      background-image: url(img/images_cd6751.jpeg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 100vh;
    
}
.navigation{
      display: flex;
      justify-content: space-between;
      align-items: center;
    


}
.img{
      background-image:linear-gradient( #b48c14 ,#FFC107);
      padding: 12px 25px;
      border-radius: 0 0  25px  0 ;
      border-bottom: solid 2px green;
      border-right: solid 2px green;
}
.name {
      font-size: 25px;
      color: white;
      margin-left: 150px;
      transition: 0.2s;

}

.name span{
      background-color: #DF4554;
      color: black;
      padding: 5px;
      border-radius: 50%;
}

.name:hover{
      transform: translateY(-8px);
}
.link{
     background-image:linear-gradient( #b48c14 ,#FFC107);
     padding: 0 25px;
     border-radius: 0 0 0 25px  ;
     border-bottom: solid 2px green;
     border-left: solid 2px green;
   

    
}
.link > ul{
      display: flex;
      padding: 20px 0;
      margin-right: 80px;
   
}

.link > ul > li{
      list-style: none ;    
}

.link > ul > li >  a{
      text-decoration: none;
      color: black;
      font-size: 25px;
      text-transform: uppercase;
      font-weight: bold;
      padding: 20px 20px;
      border-right: solid 1px black;
      transition: 0.5s;
}
.link > ul > li >  a:first-child{
      border-left: solid 1px black;
}
.link  > ul > li >  a:hover{
      background-color: #636306;
      color: white;
}

/* dropdown-manu */
.dropdown-manu{
      position: absolute;
      width: 200px;
      background-image:linear-gradient( #b48c14 ,#FFC107);
      text-align: center;
      margin-top: 20px;
      opacity: 0;
      visibility: hidden;
      transform: scaley(0);
      transform-origin: top;
      transition: 0.5s;
      box-shadow: 5px 5px 8px black;
    
}

.dropdown-manu li{
      list-style: none;
      padding: 10px 0;
      border-bottom: solid 1px black ;
      transition: 0.5s;
    

}

.dropdown-manu li a{
      text-decoration: none;
      font-size: 25px;
      color: white;
      text-transform: uppercase;
      transition: 0.2s;

      
     
}
.dropdown-manu li:first-child{
      border-top: solid 1px black;
}

.dropdown-manu li:hover{
      background-color: #636306;
    
}

.link li:hover .dropdown-manu{
      opacity: 1;
      visibility: visible;
      transform: scaley(1);
}


/* header code stat */
.haro-area{
      text-align: center;
      padding: 180px;

}
.haro-area  h1{
      background-color: #ffc10796;
      width: 600px;
      margin: 20px auto;
      font-size: 50px;
      padding: 25px;
      border-radius: 25px;
     
} 
.haro-area  button{
      font-size: 22px;
      padding: 15px 40px;
      text-transform: uppercase;
      border-radius: 20px 5px 20px 5px;
      background-color: #b58907;
      color: white;
      letter-spacing: 0.1em;
      cursor: pointer;
      transition: 0.5s;
      font-weight: bold;
      border: solid 2px green;
      margin: 20px;
}

.haro-area  button:hover{

      background-color: #b58a0773;
      box-shadow: 0 0 0 white;
      color: black;
      
}

.haro-area  h5{
      font-size: 18px;
      
}
.haro-area  h4{
      font-size: 25px;
}

.icon{
      margin-top: 20px;
}
.icon a{
      color: white;
      margin: 5px;
   
      
}

.icon a i{
      font-size: 25px;
      background-color: green;
      width: 50px;
      height: 50px;
      padding: 10px;
      border-radius: 50%;
      text-align: center;
      border: solid 2px white;
      line-height: 1.0;
      transition: 0.5s;
}

.icon a i:hover{
      background-color: #0080006d;
      transform: rotate(360deg);
}
/* frist-section */
.programmer{
      display: flex;
      width: 1000px;
      justify-content: space-between;
      margin:  auto;
      padding: 150px 0;
}

.programmer .single-div{
      width: 300px;
      text-align: center;
      padding: 20px 25px;
      transition: 0.5s;
     

}

.programmer .single-div:hover{
      box-shadow:10px 10px 10px 5px gray;
      border-radius: 5px;
}

.programmer .single-div h4{
      font-size: 22px;
      margin: 10px 0;
}

.programmer .single-div i{
      font-size: 35px;
}
